RewriteEngine On
RewriteBase /

# block index.php anywhere except root
RewriteCond %{THE_REQUEST} \s/+.+/index\.php [NC]
RewriteRule ^ - [R=404,L]

# block direct access to index.php with path
RewriteCond %{REQUEST_URI} !^/index\.php$
RewriteCond %{REQUEST_URI} index\.php [NC]
RewriteRule ^ - [R=404,L]

# allow existing files/folders
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# route everything to index.php
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
